@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-foreground antialiased;
}

html,
body {
  min-height: 100%;
}

body {
  overflow-x: hidden;
}
